@import "tailwindcss";

/* default next stuff */
/* --------------------------------------------- */
:root
{
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline
{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-tektur);
  --font-mono: var(--font-tektur);
}

@media (prefers-color-scheme: dark) 
{
  :root 
  {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body
{
  background: var(--background);
  color: var(--foreground);
}
/* --------------------------------------------- */

/* regular tags */
/* --------------------------------------------- */
body 
{
  @apply max-w-[75ch] mx-auto py-8 tracking-widest;

}
h1, h2, p, ul 
{
  @apply text-center;
}

ul 
{
  @apply list-disc list-inside;
}

h1 
{
  @apply text-4xl md:text-6xl;
}

h2
{
  @apply text-2xl md:text-4xl pt-6;
}

a
{
  @apply text-pink-600
}

a:active, a:hover
{
  @apply text-yellow-600
}

iframe
{
  @apply mx-auto;
}
/* --------------------------------------------- */

